.all-services
  &__title
    margin: 0
    font-family: "Medium", sans-serif
    font-weight: 500
    font-size: 18px
    text-transform: uppercase
    margin-bottom: 16px
    max-width: 365px
    line-height: 135%

    @media (min-width: $desktop)
      font-size: 32px
      margin-bottom: 32px
      max-width: 615px

  &__list
    display: flex
    flex-wrap: wrap
    gap: 16px
    justify-content: space-around

    @media (min-width: $desktop)
      justify-content: space-between
      gap: 20px

  &__pagination
    margin: 0 auto
    margin-top: 24px
    width: fit-content

    @media (min-width: $desktop)
      margin-top: 32px
