.all-services
  &__title
    margin: 0
    font-weight: 500
    font-size: 18px
    text-transform: uppercase
    margin-bottom: 16px

    @media (min-width: $desktop)
      font-size: 32px
      margin-bottom: 32px

  &__list
    display: flex
    flex-wrap: wrap
    gap: 16px
    justify-content: space-around

    @media (min-width: $desktop)
      gap: 20px
