.nav
  position: relative

  &__toggle
    width: 30px
    height: 30px
    border-radius: 50%
    background-image: url('../../img/template/burger.svg')
    background-repeat: no-repeat
    background-position: center
    cursor: pointer
    border: none

    @media (min-width: $desktop)
      display: none

  &__list
    @media (max-width: $mobile-only)
      border: 1px solid $white
      position: absolute
      top: 46px
      right: -12px
      min-width: $mobile
      background-color: $brown-olive
      z-index: 1
      border-radius: 0 0 12px 12px

    @media (min-width: $desktop)
      display: flex
      column-gap: 16px

  &__item
    &--subitem
      @media (max-width: $mobile-only)
        border-bottom: 1px solid $white

    &:not(:last-child)
      @media (max-width: $mobile-only)
        border-bottom: 1px solid $white

  &__link
    display: block
    text-decoration: none
    color: $white
    padding: 16px
    font-size: 14px
    font-weight: 600
    line-height: 130%

    // &--accordion
    //   &::after
    //     position: absolute
    //     top: 23px
    //     right: 16px
    //     width: 11px
    //     height: 11px
    //     content: ""
    //     background-image: url("../../img/template/arrow-right.svg")
    //     background-repeat: no-repeat
    //     transition: transform .2s ease-in-out

    // &--active
    //   background-color: red

    //   &::after
    //     position: absolute
    //     top: 23px
    //     right: 16px
    //     display: block
    //     content: ''
    //     background-image: url('../../img/template/arrow-down.svg')
    //     width: 11px
    //     height: 11px

    @media (min-width: $desktop)
      font-size: 16px
      padding: 0
      border: none

  @media (min-width: $desktop)
    position: absolute
    left: 177px
    display: flex
    column-gap: 16px

.nav--closed .nav__list

  @media (max-width: $mobile-only)
    display: none
