.nav
  position: relative

  &__toggle
    width: 30px
    height: 30px
    border-radius: 50%
    background-image: url('../../img/template/burger.svg')
    background-repeat: no-repeat
    background-position: center
    cursor: pointer
    border: none

    @media (min-width: $desktop)
      display: none

  // &--closed
  //   order: 2

  // &__container
  //   position: absolute

  &__list
    @media (max-width: $mobile-only)
      border: 1px solid $white
      position: absolute
      top: 46px
      right: -12px
      min-width: $mobile
      background-color: $brown-olive
      z-index: 1
      border-radius: 0 0 12px 12px

    @media (min-width: $desktop)
      display: flex
      column-gap: 16px

  &__item

    @media (max-width: $mobile-only)
      height: 50px

      &:not(:last-child)
        border-bottom: 1px solid $white

  &__link
    display: block
    text-decoration: none
    color: $white
    padding: 16px
    font-size: 14px
    font-weight: 600
    line-height: 130%

    @media (min-width: $desktop)
      font-size: 16px
      padding: 0

  &__submenu
    // position: absolute
    border: 1px solid red
    background-color: $brown-olive
    // min-width: $mobile

    &-item

      @media (max-width: $mobile-only)
        border-bottom: 1px solid $white
        height: 50px

    &-link
      display: block
      text-decoration: none
      color: $white
      padding: 16px
      font-size: 14px
      font-weight: 600
      line-height: 130%

  @media (min-width: $desktop)
    position: absolute
    left: 177px
    display: flex
    column-gap: 16px

.nav--closed .nav__list

  @media (max-width: $mobile-only)
    display: none
