.page
  &__body
    font-family: "Inter"
    font-size: 16px
    font-weight: 400
    line-height: 135%
    color: $white
    height: 100%
    margin: 0
    padding: 0
    min-width: $mobile
    background-color: $bg-black

  &__container
    position: relative
    margin: auto
    padding-top: 12px
    max-width: calc(100% - 32px)

    @media ( min-width: $desktop)
      max-width: $container-desktop
      padding-top: 24px

  &__header
    margin-bottom: 16px

    @media (min-width: $desktop)
      margin-bottom: 24px

  &__main
    & .services,
    & .calculator,
    & .features,
    & .car,
    & .price,
    & .oversized,
    & .consultation,
    & .work,
    & .faq,
    & .partners,
    & .discuss,
    & .all-services,
    & .special,
    & .detail
      margin-bottom: 32px

      @media (min-width: $desktop)
        margin-bottom: 80px

    & .container
      @media (min-width: $desktop)
        margin: 0 auto
        width: 846px

    & .organization
      margin-bottom: 32px

      @media (min-width: $desktop)
        margin-bottom: 84px
