$bg-black: #160D0F
$black-brown: #212121
$brown-olive: #291F1F
$dark-gray: #463D3D
$white: #FFFFFF
$orange: #FF7035
$btn-orange-hover: #E6581D
$btn-orange-click: #E24C0E
$disabled: #A5A5A5
$disabled-field: #525252
$blue: #5670FF
$btn-blue-hover: #3C55DF
$btn-blue-click: #3247BD
$btn-black: transparent
$btn-black-click: #231C1C
$yellow: #F39A17
$error: #FF5656
