$bg-black: #160D0F
$black-brown: #212121
$brown-olive: #291F1F
$dark-gray: #463D3D
$white: #FFFFFF
$light-gray: #BDBDBD
$orange: #FF7035
$orange-hover: #E6581D
$orange-click: #E24C0E
$orange-focused: #9747FF
$disabled: #A5A5A5
$disabled-field: #525252
$stroke: #413A3A
$range: #787878
$bubble: #333333
$blue: #5670FF
$blue-hover: #3C55DF
$blue-click: #3247BD
$transparent: transparent
$black-click: #231C1C
$yellow: #F39A17
$error: #FF5656
